<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<link rel="stylesheet" href="images/Azulmedia.css" type="text/css" />
<title>read</title>
</head>
<body>
<div id="wrap">
  <div id="header">
    <h1 id="logo">TECHQUIZ<span class="gray">app</span></h1>
   
    <div id="menu">
      <ul>
        <li><a href="createxam">ADD</a></li>
        
      </ul>
    </div>
  </div>
		<br>
    <table align=center border=1px >
		<th>Name</th>
		<th>count</th>
		<th>Level</th>
		<th>Delete</th>
		<th>Edit</th>

<tr th:each="list,iterationStatus : ${listExam}"> 
                <td th:text="${list.name}"></td>
                <td th:text="${list.count}"></td>
                 <td th:text="${list.level}"></td>
                 <td><a th:href="@{/dlt/{id}(id=${list.id})}">Delete</a></td>
                 <td>
                                    <a th:href="@{/edit/{id}(id=${list.id})}"
                                             class="btn btn-primary">Edit
                                        <i class="fas fa-user-edit ml-2"></i>
                                    </a>
                                </td>
                
                       
            </tr>   
        </table>
    <br>
<center><a href="http://localhost:8081/techquiz"><input type="submit" class="button" value=Back></button></center>
</body>
</html>