<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
	<title>Registration</title>
	<link rel="stylesheet" 
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" 
	integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" 
	crossorigin="anonymous">
</head>
<body>

	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#navbar" aria-expanded="false"
					aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#" th:href="@{/}">MockExam
					Login Module</a>
			</div>
		</div>
	</nav>
<br>
<br>
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				
				<div th:if="${param.success}">
					<div class="alert alert-info">You've successfully registered
					to MockExam</div>
				</div>

				<h1>Registration</h1>

				<form action="#"  th:object="${user}" th:action="@{/registration}" method="GET">
					<div class="form-group">

						

						<label> First Name</label>
		                <input type="text" id="firstName" th:field="*{firstName}" class="form-control"
		                placeholder="First Name">

						<label> Last Name</label>
		                <input type="text" id="lastName" th:field="*{lastName}" class="form-control"
		                placeholder="Last Name">


						<label> Email</label>
		                <input type="text" id="email" th:field="*{email}" class="form-control"
		                placeholder="Email">
					
		                <label> Password</label>
		                <input type="text" id="password" th:field="*{password}" class="form-control"
		                placeholder="Password">

		                <label> UserName</label>
		                <input type="text" id="login" th:field="*{login}" class="form-control"
		                placeholder="User Name">
					
						<button type="submit" class="btn btn-success">Register</button>
						<span>Already registered? <a href="/" th:herf="@{/login}">Login </a></span>						
					</div>
				</form>
			</div>			
		</div>
	</div>
</body>
</html>